<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <!--hjm add-->
<!--
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find mrobot_nav)/config/turtlebot/dwa_local_planner_params.yaml" command="load" />
    <param name="base_global_planner" value="RAstar_planner/RAstarPlannerROS"/>
-->
    <rosparam file="$(find mrobot_nav)/config/mrobot_tk1_home/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mrobot_nav)/config/mrobot_tk1_home/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mrobot_nav)/config/mrobot_tk1_home/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mrobot_nav)/config/mrobot_tk1_home/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find mrobot_nav)/config/mrobot_tk1_home/base_local_planner_params.yaml" command="load" />
  </node>
  
</launch>
